@media (max-width:500px) {


    .nav {
        height: 6vh;
        background-color: rgba(29, 28, 28, 0.593);
        position: fixed;
        z-index: 1000000;
        /* display: none; */
    }

    .left_nav {
        width: 50vw;
        height: 100%;
        position: absolute;
        /* top: -17px; */
    }

    .left_nav img {
        width: 50vw;
        left: 0;
    }

    .centre_nav {
        display: none;
    }

    .right_nav {
        display: none;
    }

    .topnav {
        overflow: hidden;
        /* background-color: #333; */
        position: relative;
        display: flex;
        /* height: 49vh; */
        width: 100%;
        height: 8vh;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: block;
        background: rgb(11, 11, 11);
        width: 100%;
        left: 0%;
        position: fixed;
        height: 50vh;
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        margin-left: 28vw;
        margin-top: 6vh;
        margin-block: 5vh;
        font-size: 6vw;
        top: -3vh;
        left: 26vh;
        width: 9vw;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        position: absolute;
    right: -2px;
    top: -34px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24vh;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        /* background-color: #ddd; */
        /* color: black; */
    }

    /* Style the active link (or home/logo) */
    .active {
        /* background-color: #04AA6D; */
        color: white;
    }

    .topnav i {
        font-size: 6vw;
        top: 2%;
        right: 3%;
        position: fixed;
        display: flex;
        position: relative;
    }

    .topnav .close {
        display: none;
    }



    /* .mobile_nav{
        right: 0%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        height: 50%;
        z-index: 2;
    } */
    #open {
        color: white;
        position: fixed;
        font-size: 7vw;
        top: 1.5%;
        right: 3%;
        z-index: 110;
        display: block;
        z-index: 100000;

    }

    .back {
        top: 10%;
        /* position: fixed; */
        width: 28vw;
        height: 4vh;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000000;
    }

    #nav {
        /* display: none; */
    }

    .close2 {
        top: -100%;
    }

    #close {
        position: fixed;
        color: white;
        top: 2%;
        right: 2%;
        font-size: 10vw;
        z-index: 120;
        display: flex;
        /* display: none; */
    }

    .menu ul {
        position: absolute;
        display: block;
    }

    .menu ul li {
        list-style: none;
        margin-block: 4vh
    }

    .menu ul li a {
        position: relative;
        color: white;
        text-decoration: none;
        font-size: 9vw;
        margin-block: 2vh;
    }

    .page1 {
        min-height: 80vh;
        overflow-x: hidden;
    }

    .images-slideshow {
        min-height: 80vh;
        position: absolute;
        z-index: 10;
        transition: 0.5s;
    }

    .imageSlides {
        height: 80vh;
        width: 100%;
        transition: ease 0.5s;
    }

    .next{

        cursor: pointer;
        position: absolute;
        top: 56%;
        width: auto;
        padding: 11px 16px;
        margin-top: -9vh;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(255, 255, 255, 0.962);
        border-radius: 50%;
        z-index: 1;
        margin-left: 88vw;
    }

    .text1 {
        /* background: red; */
        height: 50vh;
        top: 30%;
        z-index: 10;
    }

    .text1 h1 {
        font-size: 13vw;
    }

    .text1 h1:nth-child(1) {
        margin-top: 10vh;
    }

    .text1 h1:nth-child(2) {
        margin-bottom: 30vh;
    }

    .text1 h1 span {
        padding: 3vw;
        font-size: 11vw;
        background-color: green;
    }

    .text2 {
        width: 75%;
        height: 11vh;
        position: absolute;
        top: 37%;
    }

    .text2 p {
        font-size: 5vw;
        z-index: 1000000;
    }

    ul {
        position: relative;
        display: flex;
        top: 15%;
    }

    .mobile-bottons {
        position: absolute;
        display: grid;
        /* background: red; */
        width: 90vw;
        height: 11vh;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .mobile-bottons ul {
        /* display: block; */
        top: -7%;
    }

    .mobile-bottons ul li {
        list-style: none;
        margin-block: 3vh;
    }

    .mobile-bottons ul li a {
        color: white;
        text-decoration: none;
        margin-inline: 2vw;
        font-size: 5.3vw;
        font-family: gilroy;
        font-weight: 500;
        /* background: red; */
        position: relative;
        width: 45vw;
        display: flex;
        border-radius: 8vw;
        border: 3.2px solid rgba(255, 255, 255, 0.591);
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 5vh;
    }

    .mobile-bottons ul li a span {
        background-color: rgba(255, 255, 255, 0.611);
        height: 100%;
        width: 0%;
        border-radius: 2vw;
        position: absolute;
        left: 0%;
        top: 0%;
        z-index: -1;
        transition: .5s;
    }

    .mobile-bottons ul li a:hover {
        color: black;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
    }

    .mobile-bottons ul li a:hover span {
        width: 100%;
    }

    .text3 {
        top: 10%;
    }

    #close2 {
        font-size: 8vw;
        color: white;
        top: 27%;
        right: 9%;
        margin-top: -1vh;
    }

    .form {
        height: 100vh;
        width: 100%;
    }

    .main-container {
        width: 93vw;
        height: 52vh;
        top: 51%;
        background-color: transparent;
    }

    .main-container .img {
        display: none;
    }

    .form form {
        width: 85vw;
        left: 43%;
        height: 60vh;
        top: 32%;
    }

    .form form input {
        width: 70vw;
        font-size: 5vw;
    }

    #close3 {}

    .page2 {
        width: 100%;
        height: 120vh;
        position: absolute;
        top: 80vh;
    }

    .phone {
        font-size: 6vw;
        width: 80%;
        top: 15vh;
        border: 2px solid white;
        /* display: none; */
    }

    #back2 {
        top: 27%;
        /* position: fixed; */
        width: 28vw;
        height: 4vh;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        right: 0%;
        margin-left: 60vw;
    }

    .page3 {
        height: 150vh;
        /* background: red; */
        top: 200vh;
    }

    .page3 h1 {
        position: absolute;
        margin-top: -22%;
    }


    .card-list2 {
        display: grid;
        top: 10%;
    }

    .card2 {
        width: 67vw;
        height: 37vh;
        left: 13%;
        margin-inline: 3vw;
        margin-block: 7vh;
        top: -11%;
    }

    .card2:nth-child(2) {
        margin-bottom: 120vh;
    }

    .card2 .text h4 {
        font-size: 7vw;
        position: relative;
    }

    .card2 .text h3 {
        top: 0%;
        position: relative;
        font-size: 10vw;
    }

    .card2 .content .text h3 span {
        font-size: 5vw;
    }

    .card2 .content .text .phone {
        top: 70%;
        width: 40vw;
        left: 18%;
        height: 5vh;
    }

    .viewall {
        top: 66%;
        left: 32%;
        width: 34vw;
        font-size: 5vw;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .details {
        width: 90%;
        left: 5%;
        height: 36%;
        background: #181717;
    }

    .details i {
        font-size: 6vw;
        left: 0%;
    }

    .details h4 {
        font-size: 4.5vw;
        left: 25%;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.779);
    }

    .details h2 {
        font-size: 7vw;
    }

    .card2:nth-child(3) {
        display: none;
    }

    .text5 {
        width: 82%;
        border: none;
    }

    .text5 h3 {
        font-size: 7vw;

    }

    .items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    .card {
        width: 45vw;
        height: 43vh;
        left: 0;
        margin-inline: 2vw;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 8vw;
        top: 5vh;
        margin-bottom: 10vh;
    }

    .text h3 span {
        font-size: 5vw;
    }

    .phone2 {
        top: 61%;
        left: 14%;
        width: 30vw;
        font-size: 5vw;
        border: 1px solid rgb(197, 138, 19);
    }


    .page2 .img2 {
        width: 90vw;
        height: 48vh;
        border-top-left-radius: 49vw;
        border-top-right-radius: 49vw;
        border-bottom-left-radius: 8vw;
        border-bottom-right-radius: 8vw;
    }

    .text6 {
        /* background: yellow; */
        width: 80%;
        height: 29%;
        top: 68%;
    }

    .text6 h3 {
        font-size: 8vw;
        line-height: 4vh;
    }

    .text6 p {
        font-size: 3vw;
        width: 100%;
        top: 45%;
    }

    .page4 {
        width: 100%;
        height: 150vh;
        top: 302vh;
    }


    .con {
        /* background: red; */
        width: 90%;
        left: -2%;
        margin-left: -2%;
        margin: 3vh;
        height: 7vh;
    }

    .form2 {
        /* background: red; */
        width: 90%;
        left: 51%;
        height: 50vh;
        top: 64%;
    }

    .form2,
    .main-container {
        width: 100%;
        height: 51%;
        top: 24%;
        left: 48%;
        /* background-color: rgba(54, 53, 53, 0.741); */
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        /* background-color: transparent; */
        justify-content: center;
        top: 77%;
    }

    .form2 form {
        width: 100%;
        height: 45vh;
        top: 43%;
    }

    .form2 .text3 {
        position: relative;
        top: -30%;
        font-size: 5vw;
        left: 45%;
    }

    .form2 input {
        width: 70vw;
    }


    .footer {

        top: 450vh;
    }

    .row {
        display: block;
        width: 100%;
        height: 0%;
    }

    .col {
        width: 94%;
        /* background: red; */
        margin-block: 2vh;
    }

    .site-footer {
        top: 2vh;
        position: absolute;
        height: 80vh;
    }

    .con3 {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background: red; */
        width: 52vw;
        left: 12%;
        margin-top: -1vh;
        margin-block: 1vh;
    }

    .row2 {
        top: 79vh;
        left: 0vw;
        height: 5vh;
    }

    .copyright-text {
        position: absolute;
        left: 5%;
    }

    .con3 i {
        left: -39%;
        position: relative;
        font-size: 5vw;
    }

    .con3 h4 {
        font-weight: 100;
        left: 26%;
        position: absolute;
        text-transform: capitalize;
    }

    .footer-links {
        display: block;
    }


    .footer-links li {
        display: block;
        margin-block: 0vh;
    }

    .footer2 {
        top: 98vh;
    }

    .footer3 {
        top: 374vh;
    }


}


@media(max-width:414px) {

    .site-footer {
        height: 90vh;
    }

    .topnav a.icon {
        position: absolute;
        right: 10%;
        top: -34px;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 31%;
    }

    .copyright-text {
        top: 5vh;
        width: 95%;
        left: 2%;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .site-footer hr {
        top: 16%;
        position: relative;
        margin-top: 5vh;
    }

    .con3 h4 {
        z-index: 100;
    }

}

@media(width:393px) {
    .site-footer {
        height: 98vh;
    }

    .copyright-text {
        top: 9vh;
    }

    .topnav a .icon {
        /* background: green; */
        width: 0;
        height: 0;
        position: absolute;
        margin-right: 7%;
        margin-top: 1.7vh;
    }

    .topnav i {
        right: 8%;
        position: relative;
    }

    .mobile-bottons ul li a {
        width: 40vw;
    }

    .card-list2 {
        width: 90%;
        left: 48vw;
    }

    .card2 {
        left: 10%;
    }

    .details {
        width: 86%;
    }

    .site-footer hr {
        width: 90%;
    }

}




@media(max-width:375px) {
    .mobile-bottons ul li a {
        width: 42vw;
    }
    .con3 i{
        display: none;
    }

    .con3{
        width: 90%;
        left: -10%;
    }

    .site-footer{
        height: 123vh;
    }
    .copyright-text{
        top: 31vh;
        width: 97%;
        left: 2%;
    }

    .con3 h4{
        width: 63vw;
    }

    hr{
        top: 9vw;
        position: relative;
    }
}


@media(max-width:280px) {
    .mobile-bottons ul li a {
        width: 42vw;
    }
    .con3 i{
        display: none;
    }

    .con3{
        width: 90%;
        left: -10%;
    }

    .site-footer{
        height: 123vh;
    }
    .copyright-text{
        top: 37vh;
    width: 97%;
    left: 2%;
    line-height: 2.5vh;
}

    .con3 h4{
        width: 63vw;
    }

    hr{
        top: 9vw;
        position: relative;
    }
}


@media(width:540px){
    .site-footer{
        height: 86vh;
    }
}


/* @media(max-width:1220px){ 
    .text-justify{
        top: 14vh;
        font-size: 1.5vw;
    }

    .row2{
        background: transparent;
    }

    .footer-links{
        margin-top: 20vh;
        font-size: 2vw;
    }
    .copyright-text{
        margin-top: 66vh;
        font-size: 2vw;
        width: 100%;
    }

    .footer .links3{
        display: block;
    text-align: center;
    justify-content: center;
    margin-left: 11vh;
    font-size: 1.5vw;
    margin-top: 13vh;
    margin-left: -10vw;
    }

    .con3 h4{
        width: 100%;
    }

    .items{
        width: 68vw;
    }
    .rate-list{
        height: 771vh;
    }

    .details{
        width: 39vw;
    height: 74vh;
    }

    .card2{
        height: 51vh;
    left: 1vw;
    }
    .card{
        height: 51vh;
    }

    .footer3{
        top: 435vh;
    }
    .footer2{
        top: 100vh;
    }
}  */




@media(width:820px) {
    .nav {
        width: 94%;
        height: 9vh; 
    }

    .left_nav img {
        width: 29vw;
    }

    .centre_nav li a {
        font-size: 4vw;
    }

    .centre_nav {
        margin-right: 5vh;
        width: 62vw;
        position: relative;
        left: 37%
    }

    .right_nav {
        display: none;
    }

    .text1 h1 {
        font-size: 13.5vw;
    }

    .text1 h1:nth-child(2) {
        margin-top: -10vh;
    }

    .text2 {
        font-size: 4vw;
        width: 76%;
    }

    .phone {
        width: 59%;
    }

    .mobile-bottons {
        display: flex;
    }

    .mobile-bottons {
        position: absolute;
        display: grid;
        width: 90vw;
        height: 11vh;
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        justify-content: center;
        z-index: 10;
        top: 80%;
        position: absolute;
        display: inline-grid;

    }

    .mobile-bottons ul {
        top: -7%;
    }

    .mobile-bottons ul li {
        list-style: none;
        margin-block: 3vh;
    }

    .mobile-bottons ul li a {
        color: white;
        text-decoration: none;
        margin-inline: 2vw;
        font-size: 5.3vw;
        font-family: gilroy;
        font-weight: 500;
        position: relative;
        width: 45vw;
        display: flex;
        border-radius: 8vw;
        border: 3.2px solid rgba(255, 255, 255, 0.591);
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 5vh;
    }

    .mobile-bottons ul li a span {
        background-color: rgba(255, 255, 255, 0.611);
        height: 100%;
        width: 0%;
        border-radius: 2vw;
        position: absolute;
        left: 0%;
        top: 0%;
        z-index: -1;
        transition: .5s;
    }

    .page2 .img2 {
        width: 39vw;
        height: 38vh;
    }

    .text6 {
        width: 100%;
        left: 0%;
        top: 40%;
    }

    .text6 h3 {
        width: 53vw;
        font-size: 5vw;
        line-height: 5vh;
        left: 45%;
    }

    .text6 p {
        font-size: 4vw;
        width: 90%;
    }

    .page2 h1 {
        font-size: 7vw;
    }

    .page3 h1 {
        font-size: 7vw;
    }

    .page4 h1 {
        font-size: 7vw;
    }

    .card-list2 {
        display: block;
        height: 80%;
        z-index: 100;
        width: 80%;
    }

    .card-list2 .card2:nth-child(3) {
        display: none;
    }

    .card2 {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card2 .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card2 .content .text h3 span {
        font-size: 4vw;
    }

    .card2 .content .text .phone {
        left: 35%;
        top: 68%;
        font-size: 3vw;
    }

    .viewall {
        top: 93%;
        width: 34%;
        height: 5vh;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 34%;
    }

    .page3 {
        height: 120vh;
    }

    .page4 {
        height: 120vh;
        top: 319vh;
        z-index: 10;
    }

    .details {
        width: 85%;
        left: 8%;
        height: 40%;
    }

    .details h2 {
        font-size: 5vw;
        left: 23%;
    }

    .con {
        width: 90%;
        left: 5%;
        margin-left: 0vw;
        margin-top: 0vh;
        height: 7vh;
        margin-block: 1vh;
    }

    .con i {
        font-size: 4vw;
        left: 20%;
    }

    .con h4 {
        font-size: 3vw;
        left: 28vw;
    }

    .text3 {
        font-size: 3vw;
        width: 75vw;
        top: -32%;
        left: 51%;
    }

    .form2 {
        width: 73%;
        left: 49%;
        height: 42vh;
        top: 63%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form2 .main-container {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form2 .main-container form {
        width: 100%;
        height: 100%;
    }

    .form2 input {
        width: 61vw;
        font-size: 4vw;
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 0vh;
        background-color: black;
        top: 439vh;
    }

    .site-footer {
        height: 160vh;
        display: block;
        height: 86vh;
    }

    .site-footer h6 {
        font-size: 2.5vw;
    }

    .footer {

        top: 437vh;
    }

    .row {
        display: block;
        width: 90%;
        height: 0%;
        left: 3%;
        position: relative;
    }

    .col {
        width: 94%;
        margin-block: 2vh;
    }

    .site-footer {
        top: 2vh;
        position: absolute;
        height: 86vh;
    }

    .con3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        left: 2%;
        margin-top: -1vh;
        margin-block: 1vh;
    }

    .row2 {
        top: 0vh;
        left: 0vw;
        height: 12vh;
        width: 100%;
    }

    .copyright-text {
        position: absolute;
        left: 12%;
        font-size: 3vw;
        top: 33%;
    }

    .con3 i {
        position: absolute;
        font-size: 5vw;
        display: none;
    }

    .con3 h4 {
        font-weight: 100;
        position: absolute;
        text-transform: capitalize;
        width: 63vw;
            font-size: 3vw;
            left: 10vw;
    }

    .footer-links {
        display: block;
    }


    .footer-links li {
        display: block;
        margin-block: 0vh;
    }

    .footer2 {
        top: 98vh;
    }

    .footer3 {

        top: 604vh;

    }

    .img img {
        display: none;
    }

    .text-justify {
        font-size: 3vw;
        line-height: 3vh;
    }

    .footer-links a {
        font-size: 4vw;
        line-height: 4vh;
    }

    .card {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card .content .text h3 span {
        font-size: 4vw;
    }

    .card .content .text .phone {
        left: 19%;
        top: 68%;
        font-size: 3vw;
    }

    .rate-list {
        height: 1115vh;
    }

    .items {
        top: 49%;
        width: 81%;
    }

    .text5 {
        position: absolute;
        top: 18%;
        width: 71%;
        z-index: 10;
    }

    .text5 h3 {
        font-size: 4vw;
    }

    .back {
        font-size: 3vw;
    }

    .form form {
        width: 90vw;
        height: 64vh;
    }

    .form .main-container {
        width: 0;
        background-color: transparent;
    }

    .form input {
        width: 64vw;
        font-size: 3vw;
        text-transform: capitalize;
    }

    .form .text3 {
        font-size: 3vw;
        width: 92vw;
        top: 12%;
    }

    #close2 {
        font-size: 6vw;
        top: 13%;
        left: 87%;
    }

    .img {
        background-color: transparent;
    }



}

@media(width:768px) {
    .nav {
        width: 94%;
        height: 9vh; 
    }
    .topnav {
        overflow: hidden;
        /* background-color: #333; */
        position: relative;
        display: flex;
        /* height: 49vh; */
        width: 100%;
        height: 8vh;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: block;
        background: rgb(11, 11, 11);
        width: 100%;
        left: 0%;
        position: fixed;
        height: 50vh;
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        margin-left: 28vw;
        margin-top: 6vh;
        margin-block: 5vh;
        font-size: 6vw;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: red;
        display: block;
        position: relative;
        right: -28%;
        top: -29px;
        width: 7vw;
        height: 28vh;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        /* background-color: #ddd; */
        /* color: black; */
    }

    /* Style the active link (or home/logo) */
    .active {
        /* background-color: #04AA6D; */
        color: white;
    }

    .topnav i {
        font-size: 6vw;
        top: 2%;
        right: 3%;
        position: fixed;
        display: flex;
        margin-right: 4%;
    }

    .topnav .close {
        display: none;
    }

.centre_nav{
    display: none;
}
    .left_nav img {
        width: 29vw;
    }

    .centre_nav li a {
        font-size: 4vw;
    }

    .centre_nav {
        margin-right: 5vh;
        width: 62vw;
        position: relative;
        left: 37%
    }

    .right_nav {
        display: none;
    }

    .text1 h1 {
        font-size: 13.5vw;
    }

    .text1 h1:nth-child(2) {
        margin-top: -10vh;
    }

    .text2 {
        font-size: 4vw;
        width: 76%;
    }

    .phone {
        width: 59%;
    }

    .mobile-bottons {
        display: flex;
    }

    .mobile-bottons {
        position: absolute;
        display: grid;
        width: 90vw;
        height: 11vh;
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        justify-content: center;
        z-index: 10;
        top: 80%;
        position: absolute;
        display: inline-grid;

    }

    .mobile-bottons ul {
        top: -7%;
    }

    .mobile-bottons ul li {
        list-style: none;
        margin-block: 3vh;
    }

    .mobile-bottons ul li a {
        color: white;
        text-decoration: none;
        margin-inline: 2vw;
        font-size: 5.3vw;
        font-family: gilroy;
        font-weight: 500;
        position: relative;
        width: 45vw;
        display: flex;
        border-radius: 8vw;
        border: 3.2px solid rgba(255, 255, 255, 0.591);
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 5vh;
    }

    .mobile-bottons ul li a span {
        background-color: rgba(255, 255, 255, 0.611);
        height: 100%;
        width: 0%;
        border-radius: 2vw;
        position: absolute;
        left: 0%;
        top: 0%;
        z-index: -1;
        transition: .5s;
    }

    .page2 .img2 {
        width: 39vw;
        height: 38vh;
    }

    .text6 {
        width: 100%;
        left: 0%;
        top: 40%;
    }

    .text6 h3 {
        width: 53vw;
        font-size: 5vw;
        line-height: 5vh;
        left: 45%;
    }

    .text6 p {
        font-size: 4vw;
        width: 90%;
    }

    .page2 h1 {
        font-size: 7vw;
    }

    .page3 h1 {
        font-size: 7vw;
    }

    .page4 h1 {
        font-size: 7vw;
    }

    .card-list2 {
        display: block;
        height: 80%;
        z-index: 100;
        width: 80%;
    }

    .card-list2 .card2:nth-child(3) {
        display: none;
    }

    .card2 {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card2 .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card2 .content .text h3 span {
        font-size: 4vw;
    }

    .card2 .content .text .phone {
        left: 35%;
        top: 68%;
        font-size: 3vw;
    }

    .viewall {
        top: 93%;
        width: 34%;
        height: 5vh;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 34%;
    }

    .page3 {
        height: 120vh;
    }

    .page4 {
        height: 120vh;
        top: 319vh;
        z-index: 10;
    }

    .details {
        width: 85%;
        left: 8%;
        height: 40%;
    }

    .details h2 {
        font-size: 5vw;
        left: 23%;
    }

    .con {
        width: 90%;
        left: 5%;
        margin-left: 0vw;
        margin-top: 0vh;
        height: 7vh;
        margin-block: 1vh;
    }

    .con i {
        font-size: 4vw;
        left: 20%;
    }

    .con h4 {
        font-size: 3vw;
        left: 28vw;
    }

    .text3 {
        font-size: 3vw;
        width: 75vw;
        top: -32%;
        left: 51%;
    }

    .form2 {
        width: 73%;
        left: 49%;
        height: 42vh;
        top: 63%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form2 .main-container {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form2 .main-container form {
        width: 100%;
        height: 100%;
    }

    .form2 input {
        width: 61vw;
        font-size: 4vw;
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 0vh;
        background-color: black;
        top: 439vh;
    }

    .site-footer {
        height: 160vh;
        display: block;
        height: 86vh;
    }

    .site-footer h6 {
        font-size: 2.5vw;
    }

    .footer {

        top: 437vh;
    }

    .row {
        display: block;
        width: 90%;
        height: 0%;
        left: 3%;
        position: relative;
    }

    .col {
        width: 94%;
        margin-block: 2vh;
    }

    .site-footer {
        top: 2vh;
        position: absolute;
        height: 86vh;
    }

    .con3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        left: 2%;
        margin-top: -1vh;
        margin-block: 1vh;
    }

    .row2 {
        top: 0vh;
        left: 0vw;
        height: 12vh;
        width: 100%;
    }

    .copyright-text {
        position: absolute;
        left: 12%;
        font-size: 3vw;
        top: 33%;
    }

    .con3 i {
        position: absolute;
        font-size: 5vw;
        display: none;
    }

    .con3 h4 {
        font-weight: 100;
        position: absolute;
        text-transform: capitalize;
        width: 63vw;
            font-size: 3vw;
            left: 10vw;
    }

    .footer-links {
        display: block;
    }


    .footer-links li {
        display: block;
        margin-block: 0vh;
    }

    .footer2 {
        top: 98vh;
    }

    .footer3 {

        top: 604vh;

    }

    .img img {
        display: none;
    }

    .text-justify {
        font-size: 3vw;
        line-height: 3vh;
    }

    .footer-links a {
        font-size: 4vw;
        line-height: 4vh;
    }

    .card {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card .content .text h3 span {
        font-size: 4vw;
    }

    .card .content .text .phone {
        left: 19%;
        top: 68%;
        font-size: 3vw;
    }

    .rate-list {
        height: 1115vh;
    }

    .items {
        top: 49%;
        width: 81%;
    }

    .text5 {
        position: absolute;
        top: 18%;
        width: 71%;
        z-index: 10;
    }

    .text5 h3 {
        font-size: 4vw;
    }

    .back {
        font-size: 3vw;
    }

    .form form {
        width: 90vw;
        height: 64vh;
    }

    .form .main-container {
        width: 0;
        background-color: transparent;
    }

    .form input {
        width: 64vw;
        font-size: 3vw;
        text-transform: capitalize;
    }

    .form .text3 {
        font-size: 3vw;
        width: 92vw;
        top: 12%;
    }

    #close2 {
        font-size: 6vw;
        top: 13%;
        left: 87%;
    }

    .img {
        background-color: transparent;
    }



}


@media(width:912px) {
    .nav {
        width: 94%;
        height: 9vh; 
    }
    .centre_nav{
        display: none;
    }

    .topnav {
        overflow: hidden;
        /* background-color: #333; */
        position: relative;
        display: flex;
        /* height: 49vh; */
        width: 100%;
        height: 8vh;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: block;
        background: rgb(11, 11, 11);
        width: 100%;
        left: 0%;
        position: fixed;
        height: 50vh;
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        margin-left: 28vw;
        margin-top: 6vh;
        margin-block: 5vh;
        font-size: 6vw;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        /* background: black; */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 10vw;
        height: 16vh;
        top: -3vh;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        /* background-color: #ddd; */
        /* color: black; */
    }

    /* Style the active link (or home/logo) */
    .active {
        /* background-color: #04AA6D; */
        color: white;
    }

    .topnav i {
        font-size: 6vw;
        top: 2%;
        right: 3%;
        position: fixed;
        margin-right: 4vh;
        margin-top: 1vh;
        display: flex;
    }

    .topnav .close {
        display: none;
    }



    .left_nav img {
        width: 29vw;
    }

    .centre_nav li a {
        font-size: 4vw;
    }

    .centre_nav {
        margin-right: 5vh;
        width: 62vw;
        position: relative;
        left: 37%
    }

    .right_nav {
        display: none;
    }

    .text1 h1 {
        font-size: 13.5vw;
    }

    .text1 h1:nth-child(2) {
        margin-top: -10vh;
    }

    .text2 {
        font-size: 4vw;
        width: 76%;
    }

    .phone {
        width: 59%;
    }

    .mobile-bottons {
        display: flex;
    }

    .mobile-bottons {
        position: absolute;
        display: grid;
        width: 90vw;
        height: 11vh;
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        justify-content: center;
        z-index: 10;
        top: 80%;
        position: absolute;
        display: inline-grid;

    }

    .mobile-bottons ul {
        top: -7%;
    }

    .mobile-bottons ul li {
        list-style: none;
        margin-block: 3vh;
    }

    .mobile-bottons ul li a {
        color: white;
        text-decoration: none;
        margin-inline: 2vw;
        font-size: 5.3vw;
        font-family: gilroy;
        font-weight: 500;
        position: relative;
        width: 45vw;
        display: flex;
        border-radius: 8vw;
        border: 3.2px solid rgba(255, 255, 255, 0.591);
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 5vh;
    }

    .mobile-bottons ul li a span {
        background-color: rgba(255, 255, 255, 0.611);
        height: 100%;
        width: 0%;
        border-radius: 2vw;
        position: absolute;
        left: 0%;
        top: 0%;
        z-index: -1;
        transition: .5s;
    }

    .page2 .img2 {
        width: 39vw;
        height: 38vh;
    }

    .text6 {
        width: 100%;
        left: 0%;
        top: 40%;
    }

    .text6 h3 {
        width: 53vw;
        font-size: 5vw;
        line-height: 5vh;
        left: 45%;
    }

    .text6 p {
        font-size: 4vw;
        width: 90%;
    }

    .page2 h1 {
        font-size: 7vw;
    }

    .page3 h1 {
        font-size: 7vw;
    }

    .page4 h1 {
        font-size: 7vw;
    }

    .card-list2 {
        display: block;
        height: 80%;
        z-index: 100;
        width: 80%;
    }

    .card-list2 .card2:nth-child(3) {
        display: none;
    }

    .card2 {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card2 .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card2 .content .text h3 span {
        font-size: 4vw;
    }

    .card2 .content .text .phone {
        left: 35%;
        top: 68%;
        font-size: 3vw;
    }

    .viewall {
        top: 93%;
        width: 34%;
        height: 5vh;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 34%;
    }

    .page3 {
        height: 120vh;
    }

    .page4 {
        height: 120vh;
        top: 319vh;
        z-index: 10;
    }

    .details {
        width: 85%;
        left: 8%;
        height: 40%;
    }

    .details h2 {
        font-size: 5vw;
        left: 23%;
    }

    .con {
        width: 90%;
        left: 5%;
        margin-left: 0vw;
        margin-top: 0vh;
        height: 7vh;
        margin-block: 1vh;
    }

    .con i {
        font-size: 4vw;
        left: 20%;
    }

    .con h4 {
        font-size: 3vw;
        left: 28vw;
    }

    .text3 {
        font-size: 3vw;
        width: 75vw;
        top: -32%;
        left: 51%;
    }

    .form2 {
        width: 73%;
        left: 49%;
        height: 42vh;
        top: 63%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form2 .main-container {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form2 .main-container form {
        width: 100%;
        height: 100%;
    }

    .form2 input {
        width: 61vw;
        font-size: 4vw;
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 0vh;
        background-color: black;
        top: 439vh;
    }

    .site-footer {
        height: 160vh;
        display: block;
        height: 86vh;
    }

    .site-footer h6 {
        font-size: 2.5vw;
    }

    .footer {

        top: 437vh;
    }

    .row {
        display: block;
        width: 90%;
        height: 0%;
        left: 3%;
        position: relative;
    }

    .col {
        width: 94%;
        margin-block: 2vh;
    }

    .site-footer {
        top: 2vh;
        position: absolute;
        height: 86vh;
    }

    .con3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        left: 2%;
        margin-top: -1vh;
        margin-block: 1vh;
    }

    .row2 {
        top: 0vh;
        left: 0vw;
        height: 12vh;
        width: 100%;
    }

    .copyright-text {
        position: absolute;
        left: 12%;
        font-size: 3vw;
        top: 33%;
    }

    .con3 i {
        position: absolute;
        font-size: 5vw;
        display: none;
    }

    .con3 h4 {
        font-weight: 100;
        position: absolute;
        text-transform: capitalize;
        width: 63vw;
            font-size: 3vw;
            left: 10vw;
    }

    .footer-links {
        display: block;
    }


    .footer-links li {
        display: block;
        margin-block: 0vh;
    }

    .footer2 {
        top: 98vh;
    }

    .footer3 {

        top: 604vh;

    }

    .img img {
        display: none;
    }

    .text-justify {
        font-size: 3vw;
        line-height: 3vh;
    }

    .footer-links a {
        font-size: 4vw;
        line-height: 4vh;
    }

    .card {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card .content .text h3 span {
        font-size: 4vw;
    }

    .card .content .text .phone {
        left: 19%;
        top: 68%;
        font-size: 3vw;
    }

    .rate-list {
        height: 1115vh;
    }

    .items {
        top: 49%;
        width: 81%;
    }

    .text5 {
        position: absolute;
        top: 18%;
        width: 71%;
        z-index: 10;
    }

    .text5 h3 {
        font-size: 4vw;
    }

    .back {
        font-size: 3vw;
    }

    .form form {
        width: 90vw;
        height: 64vh;
    }

    .form .main-container {
        width: 0;
        background-color: transparent;
    }

    .form input {
        width: 64vw;
        font-size: 3vw;
        text-transform: capitalize;
    }

    .form .text3 {
        font-size: 3vw;
        width: 92vw;
        top: 12%;
    }

    #close2 {
        font-size: 6vw;
        top: 13%;
        left: 87%;
    }

    .img {
        background-color: transparent;
    }



}



@media(width:540px) {
    .nav {
        width: 94%;
        height: 9vh; 
    }
    .centre_nav{
        display: none;
    }

    .topnav {
        overflow: hidden;
        /* background-color: #333; */
        position: relative;
        display: flex;
        /* height: 49vh; */
        width: 100%;
        height: 8vh;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: block;
        background: rgb(11, 11, 11);
        width: 100%;
        left: 0%;
        position: fixed;
        height: 50vh;
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        margin-left: 28vw;
        margin-top: 6vh;
        margin-block: 5vh;
        font-size: 6vw;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        /* background: black; */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 10vw;
        height: 16vh;
        top: -3vh;
    }
    .topnav a:hover {
        /* background-color: #ddd; */
        /* color: black; */
    }

    /* Style the active link (or home/logo) */
    .active {
        /* background-color: #04AA6D; */
        color: white;
    }

    .topnav i {
        font-size: 6vw;
        top: 2%;
        right: 3%;
        position: fixed;
        display: flex;
        margin-right: 4vh;
        margin-top: 1vh;
    }

    .topnav .close {
        display: none;
    }



    .left_nav img {
        width: 29vw;
    }

    .centre_nav li a {
        font-size: 4vw;
    }

    .centre_nav {
        margin-right: 5vh;
        width: 62vw;
        position: relative;
        left: 37%
    }

    .right_nav {
        display: none;
    }

    .text1 h1 {
        font-size: 13.5vw;
    }

    .text1 h1:nth-child(2) {
        margin-top: -10vh;
    }

    .text2 {
        font-size: 4vw;
        width: 76%;
    }

    .phone {
        width: 59%;
    }

    .mobile-bottons {
        display: flex;
    }

    .mobile-bottons {
        position: absolute;
        display: grid;
        width: 90vw;
        height: 11vh;
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        justify-content: center;
        z-index: 10;
        top: 80%;
        position: absolute;
        display: inline-grid;

    }

    .mobile-bottons ul {
        top: -7%;
    }

    .mobile-bottons ul li {
        list-style: none;
        margin-block: 3vh;
    }

    .mobile-bottons ul li a {
        color: white;
        text-decoration: none;
        margin-inline: 2vw;
        font-size: 5.3vw;
        font-family: gilroy;
        font-weight: 500;
        position: relative;
        width: 45vw;
        display: flex;
        border-radius: 8vw;
        border: 3.2px solid rgba(255, 255, 255, 0.591);
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 5vh;
    }

    .mobile-bottons ul li a span {
        background-color: rgba(255, 255, 255, 0.611);
        height: 100%;
        width: 0%;
        border-radius: 2vw;
        position: absolute;
        left: 0%;
        top: 0%;
        z-index: -1;
        transition: .5s;
    }

    .page2 .img2 {
        width: 39vw;
        height: 38vh;
    }

    .text6 {
        width: 100%;
        left: 0%;
        top: 40%;
    }

    .text6 h3 {
        width: 53vw;
        font-size: 5vw;
        line-height: 5vh;
        left: 45%;
    }

    .text6 p {
        font-size: 4vw;
        width: 90%;
    }

    .page2 h1 {
        font-size: 7vw;
    }

    .page3 h1 {
        font-size: 7vw;
    }

    .page4 h1 {
        font-size: 7vw;
    }

    .card-list2 {
        display: block;
        height: 80%;
        z-index: 100;
        width: 80%;
    }

    .card-list2 .card2:nth-child(3) {
        display: none;
    }

    .card2 {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card2 .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card2 .content .text h3 span {
        font-size: 4vw;
    }

    .card2 .content .text .phone {
        left: 35%;
        top: 68%;
        font-size: 3vw;
    }

    .viewall {
        top: 93%;
        width: 34%;
        height: 5vh;
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 34%;
    }

    .page3 {
        height: 120vh;
    }

    .page4 {
        height: 120vh;
        top: 319vh;
        z-index: 10;
    }

    .details {
        width: 85%;
        left: 8%;
        height: 40%;
    }

    .details h2 {
        font-size: 5vw;
        left: 23%;
    }

    .con {
        width: 90%;
        left: 5%;
        margin-left: 0vw;
        margin-top: 0vh;
        height: 7vh;
        margin-block: 1vh;
    }

    .con i {
        font-size: 4vw;
        left: 20%;
    }

    .con h4 {
        font-size: 3vw;
        left: 28vw;
    }

    .text3 {
        font-size: 3vw;
        width: 75vw;
        top: -32%;
        left: 51%;
    }

    .form2 {
        width: 73%;
        left: 49%;
        height: 42vh;
        top: 63%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form2 .main-container {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form2 .main-container form {
        width: 100%;
        height: 100%;
    }

    .form2 input {
        width: 61vw;
        font-size: 4vw;
    }

    .footer {
        position: absolute;
        width: 100%;
        height: 0vh;
        background-color: black;
        top: 439vh;
    }

    .site-footer {
        height: 160vh;
        display: block;
        height: 86vh;
    }

    .site-footer h6 {
        font-size: 2.5vw;
    }

    .footer {

        top: 437vh;
    }

    .row {
        display: block;
        width: 90%;
        height: 0%;
        left: 3%;
        position: relative;
    }

    .col {
        width: 94%;
        margin-block: 2vh;
    }

    .site-footer {
        top: 2vh;
        position: absolute;
        height: 90vh;}

    .con3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        left: 2%;
        margin-top: -1vh;
        margin-block: 1vh;
    }

    .row2 {
        top: 0vh;
        left: 0vw;
        height: 12vh;
        width: 100%;
    }

    .copyright-text {
        position: absolute;
        left: 12%;
        font-size: 3vw;
        top: 33%;
    }

    .con3 i {
        position: absolute;
        font-size: 5vw;
        display: none;
    }

    .con3 h4 {
        font-weight: 100;
        position: absolute;
        text-transform: capitalize;
        width: 63vw;
            font-size: 3vw;
            left: 10vw;
    }

    .footer-links {
        display: block;
    }


    .footer-links li {
        display: block;
        margin-block: 0vh;
    }

    .footer2 {
        top: 98vh;
    }

    .footer3 {

        top: 604vh;

    }

    .img img {
        display: none;
    }

    .text-justify {
        font-size: 3vw;
        line-height: 3vh;
    }

    .footer-links a {
        font-size: 4vw;
        line-height: 4vh;
    }

    .card {
        width: 53vw;
        height: 37vh;
        left: 10%;
    }

    .card .content .img {
        width: 78%;
        left: 10%;
        height: 17vh;
    }

    .text h4 {
        font-size: 5vw;
    }

    .text h3 {
        font-size: 7vw;
    }

    .card .content .text h3 span {
        font-size: 4vw;
    }

    .card .content .text .phone {
        left: 19%;
        top: 68%;
        font-size: 3vw;
    }

    .rate-list {
        height: 1115vh;
    }

    .items {
        top: 49%;
        width: 81%;
    }

    .text5 {
        position: absolute;
        top: 18%;
        width: 71%;
        z-index: 10;
    }

    .text5 h3 {
        font-size: 4vw;
    }

    .back {
        font-size: 3vw;
    }

    .form form {
        width: 90vw;
        height: 64vh;
    }

    .form .main-container {
        width: 0;
        background-color: transparent;
    }

    .form input {
        width: 64vw;
        font-size: 3vw;
        text-transform: capitalize;
    }

    .form .text3 {
        font-size: 3vw;
        width: 92vw;
        top: 12%;
    }

    #close2 {
        font-size: 6vw;
        top: 13%;
        left: 87%;
    }

    .img {
        background-color: transparent;
    }


    }

    @media(width:1024px){
        .card2{
            height: 56vh;
        left: 1%;
        }
    
        .details{
            width: 39vw;
        }
        .site-footer{
            height: 80vh;
        }
    
        .row2{
            height: 5vh;
        top: 69vh;
        }
    
        .items{
            width: 78vw;
        }
    
        .card{
            height: 56vh;
        left: 5%;
        }
    
        .rate-list{
            min-height: 840vh;
        }
    
    
        .footer2{
            top: 100vh;
        }
        .footer3{
            top: 470vh;
        }
    }
    
    
    @media(width:1280px){
        .card2{
            height: 56vh;
        left: 1%;
        }
    
        .details{
            width: 39vw;
        }
        .site-footer{
            height: 60vh;
        }
    
        .row2{
            height: 5vh;
            top: 48vh;
        }
    
        .items{
            width: 78vw;
        }
    
        .card{
            height: 56vh;
        left: 5%;
        }
    
        .rate-list{
            min-height: 840vh;
        }
    
    
        .footer2{
            top: 100vh;
        }
        .footer3{
            top: 470vh;
        }
    }